/* User input area */

#search-area {
    text-align:center;
}

#user-input {
    display:block;
    margin:0 auto;
}

/* Button area */
#button-area {
    width:33%;
    height: 40px;
    margin:0 auto;
    background-color: orange;
}

#button{
    
}