/* User input area */
body {
  background-color: #121212;
}

form {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
button {
  color: white;
}

#description {
  margin-bottom: 40px;
}

#title {
  margin-top: 40px;
}

#title-1 {
  color: #ff575f;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-weight: bolder;
}

#title-2 {
  color: #00cfff;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-weight: bolder;
}

#search-area {
  text-align: center;
  margin-bottom: 30px;
}

#user-input {
  display: flex;
  margin: 0;
  width: 80%;
  height: 55px;
  font-size: 28px;
  border: 0;
  padding-top: 5px;
  padding-bottom: 4px;
}

#search-btn {
  display: flex;
  width: 58px;
  margin: 0;
  font-size: 28px;
}

/* Button area */
#button-area {
  width: 85%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: orange;
}

button {
  background-color: #735fff;
  border: 0;
  padding: 8px 16px 8px 16px;
  margin: 5px;
}

/* Image area */
#image-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-box {
  display: inline-block;
  position:relative;
  margin: 15px;
}

.gif {
  height: 200px;
}

/* Media queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #image-area {
    justify-content: center;
  }
}
