/* User input area */
body {
  background-color: #121212;
}

form {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
button {
  color: white;
}

#description {
  margin-bottom: 40px;
}

#title {
font-size: 4em;
  margin-top: 40px;
  border: 7px solid white;
  width:500px;
  margin:0 auto;
  margin-top:40px;
  padding:15px 15px 19px 15px;
}

#title-1 {
  color: white;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-weight: bolder;
}

#title-2 {
  color: white;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-weight: bolder;
}

#search-area {
  text-align: center;
  margin-bottom: 30px;
}

#user-input {
  display: flex;
  margin: 0;
  width: 80%;
  height: 55px;
  font-size: 28px;
  border: 0;
  padding-top: 5px;
  padding-bottom: 4px;
}

#search-btn,#favorite-btn {
  display: flex;
  background-color: #735fff;
  width: 58px;
  margin: 0;
  font-size: 28px;
  padding: 8px 16px 8px 16px;
  border:1px solid #735fff;
}

#favorite-btn {
    background-color: #ff4458;
    border:1px solid #ff4458;
}
#favorite-btn:hover{
    background-color:#fb75b8;
}

#search-btn:hover {
    background-color:#a168f9;
}

/* Button area */
#button-area {
  width: 85%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: orange;
}


.button {
    background-color: #735fff;
    border:1px solid #735fff;
    padding: 8px 16px 8px 16px;
    margin: 5px;
    font-weight:bolder;
}

/* Image area */
#image-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-box{
  display: inline-block;
  position:relative;
  margin: 15px;
}

.image-box:hover > img {
  opacity:.5
}

.gif {
    height:200px;
    min-width:200px;
}

.social {
    color:white;
    font-size: 18px;
    font-weight:bold;
    visibility:hidden;
    width:187px;
    margin-top: 10px;
    position:absolute;
    border:3px solid white;
    padding: 5px;
    text-align:center;
}

.social:hover{
    color:white;
    text-decoration: none;
}

#facebook{
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#twitter{
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#favorite{
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
}

.fave-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0px;
    color: #ff2551;
    display:inline;
}

/* Fade in animation

<i class="fas fa-heart"></i>

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

*/



/* Media queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #image-area {
    justify-content: center;
  }
  #title{
      width:250px;
      font-size:2.5em;
  }

  form , #description{
    margin-left: 10px;
    margin-right: 10px;
  }
}
